.profileMain{
    display: flex;
    justify-content: center;
}
.proContainer{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    width: 80%;
}
@media screen and (max-width: 1050px) {
    .proContainer{
        flex-direction: column;
        align-items: center;
    }
    .profileMain{
        justify-content: center;
    }
}
@media screen and (max-width: 640px) {
    .proContainer{
        width: 100%;
        padding: 0 10px;
    }
}